.bg{
	color: inherit;	
}

.fm-magenta{
	color: #E20078;
	&.bg{
		background-color: #E20078;		
	}
}

.fm-black{
	color: #212721;
	&.bg{
		background-color: #212721;		
	}
}

.fm-gray1{
	color: #F5F6F6;
	&.bg{
		background-color: #F5F6F6;		
	}
}

.fm-gray2{
	color: #EAE6E6;
	&.bg{
		background-color: #EAE6E6;		
	}
}

.fm-gray3{
	color: #8A8A8A;
	&.bg{
		background-color: #8A8A8A;		
	}
}

.fm-white{
	color: #FFF;
	&.bg{
		background-color: #FFF;		
	}
}

.fm-burnt{
	color: #A92346;
	&.bg{
		background-color: #A92346;		
	}
}

.fm-purple1{
	color: #82459B;
	&.bg{
		background-color: #82459B;		
	}
}

.fm-purple2{
	color: #503B80;
	&.bg{
		background-color: #503B80;		
	}
}

.fm-blue1{
	color: #109DC0;
	&.bg{
		background-color: #109DC0;		
	}
}

.fm-blue2{
	color: #00567B;
	&.bg{
		background-color: #00567B;		
	}
}


.fm-gradient1{
	@include background-image(linear-gradient(#E20078, #A92346));
}
.fm-gradient2{
	@include background-image(linear-gradient(#109DC0, #00567B));
}
.fm-gradient3{
	@include background-image(linear-gradient(#82459B, #503B80));
}
