<breadcrumbs parent="breadcrumbs.typography" page="'copy'"></breadcrumbs>

<div class="row space3">
	<div class="col-md-9">
		<h4 class="text-upper fm-magenta space2">Body Copy</h4>
		<h4>Body Copy Style 1</h4>

		<div class="row space3 font-16">
			<div class="col-md-6">Open Sans / Regular </div>
			<div class="col-md-3">16/20</div>
			<div class="col-md-3">#000000</div>
		</div>
		<p class="contextual bg fm-gray2 space5">
			College Abacus is a free and easy online tool that allows users to identify schools within their budget. As the cost of education continues to rise in America, families are eager to find the best school for their budget. However, it often feels like you need a degree to compare the projected financial packages from different schools. 			
		</p>

		<hr class="fat">


	</div>

</div>
<div class="row">
	<div class="col-md-9">
		<h4 class="text-upper fm-magenta space2">Quotes</h4>
		<h4>Pull Quote Style 1</h4>

		<div class="row space3 font-16">
			<div class="col-md-6">Pluto Condensed / Light</div>
			<div class="col-md-3">36/40</div>
			<div class="col-md-3">#E20078</div>
		</div>
		<p class="contextual bg fm-gray2 pull-quote1">
			“It took us a long time to find the right partner to help...”
		</p>
		
	</div>
</div>