<breadcrumbs parent="breadcrumbs.typography" page="'headers'"></breadcrumbs>

<div class="row space3">
	<div class="col-md-9">
		<h4 class="text-upper fm-magenta space2">Headers</h4>
		<h4>Header Style 1</h4>

		<div class="row space3 font-16">
			<div class="col-md-6">Pluto Condensed / Medium</div>
			<div class="col-md-3">60pt</div>
			<div class="col-md-3">#000000</div>
		</div>
		<div class="contextual bg fm-gray2 space5 text-center">
			<h1 class="no-margin">Global</h1>
		</div>
	</div>

</div>

<div class="row space3">
	<div class="col-md-9">
		<h4>Header Style 2</h4>

		<div class="row space3 font-16">
			<div class="col-md-6">Pluto Condensed / Medium</div>
			<div class="col-md-3">48pt</div>
			<div class="col-md-3">#000000</div>
		</div>
		<div class="contextual bg fm-gray2 space5 text-center">
			<h2 class="no-margin">Recent Projects</h2>
		</div>

		<hr class="fat">


	</div>

</div>


<div class="row space3">
	<div class="col-md-9">
		<h4 class="text-upper fm-magenta space2">Sub Headers</h4>
		<h4>Sub Header Style 1</h4>

		<div class="row space3 font-16">
			<div class="col-md-6">Pluto Condensed / Light</div>
			<div class="col-md-3">30pt</div>
			<div class="col-md-3">#000000</div>
		</div>
		<div class="contextual bg fm-gray2 space5 text-center">
			<h3 class="no-margin">Not just the designers</h3>
		</div>
	</div>

</div>

