@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

.noto-sans{
  font-family: 'Noto Sans';
  &.light{
    font-weight: 300;
  }
  &.semi-bold{
    font-weight: 600;
  }
  &.bold{
    font-weight: 700;
  }
  &.extra-bold{
    font-weight: 700;
  }
}
